img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ViewDetailed {
    display: flex;
    margin-left: 10px;
    flex-direction: row;
}

.ViewDetailed section {
    min-height: 700px;
    margin-right: 30px;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 25px 25px 0px 0px;
    padding: 0px;
}

.show-all-tasks {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    width: 70%;
    font-size: 0.5em;
}
.show-all-tasks h1, .show-all-tasks h2{
    margin: 0px;
}

.show-all-tasks-certain {
    width: 30%;
    height: 100%;
}

.CertainTaskTop {
    width: 100%;
    background-color: #B0C2FF;
}

.CertainTaskTop h1{
    margin: 0px;
    font-size: 35px;
    padding: 8px;
    color: #FFFFF;
}

.CertainTaskTop textarea {
    background-color:inherit;
    margin: 0px;
    font-size: 20px;
    padding: 12px;
    width:80%;
    border: 0px;
    border-bottom: 2px solid #99A8DC;
    overflow: hidden;
    text-align: center;
}
.CertainTaskTop textarea:focus{
    outline: none;
} 

.CertainTaskInfo ul {
    width: 80%;
    text-align: left;
}
.CertainTaskInfo li {
    margin-left: 20px;
    color:#545CA5;
    margin-top: 10px;
    font-size: 20px;
}

.CertainTaskInfo {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.CertainTaskInfo input{
    background-color: inherit;
    border: 0px;
    font-size: 20px;
    outline: none;
}

.CertainTaskInfo input:focus{
    outline: none;
}

.DeadlineAndPriority {
    padding-top: 10px;
    width: 100%;
    height: 100%;
    background-color: #F4F7FF;
    padding-bottom: 10px;
}
.DeadlineAndPriority h1{
    font-size: 20px;
    margin: 0px;
    margin-right: 20px;
}

.DeadlineAndPriority p {
    font-size: 15px;
    margin: 0px;
    padding: 15px;
    padding-top: 0px;
}

.DeadlineAndPriority textarea {
    margin-top: 40px;
    width:90%;
    margin: 20px;
    background-color: inherit;
    border: none;
    font-size: 15px;
    min-height: 50px;
    resize: none;
}

.DeadlineAndPriority textarea:focus {
    outline: none;
}

.show-all-tasks-top {
    width: 100%;
    background-color: #B0C2FF;
    border-radius: 25px 25px 0px 0px;
}

.show-all-tasks-top h1{
    font-size: 35px;
    padding: 8px;
    color: white;
}

.show-all-tasks-bottom {
    padding: 20px;
    min-height: 600px;
    background-color: white;
}

.show-all-tasks-bottom button {
    pointer-events: none;
}
.task {
    padding:20px;
    text-align: left;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    
}

.task h1{
    font-size: 25px;
    color: #545CA5;
}
.task h2{
    font-size: 20px;
    color: #99A8DC;
}

.subTasks {
    margin-left: 50px;
}

.subTasks h3 {
    color:#99A8DC;
    font-size: 12px;
}
.subTasks p {
    color: inherit;
    font-size: 10px;
}

.task-icon{
    aspect-ratio: 1 ;
    color:#545CA5;
}

.print-task-icon img{
    height: 100%;
    margin: auto;
    width: 3%;
    margin-left: 5px;
    margin-right: 10px;
}

.show-all-TaskTop {
    height: 10%;
    width: 100%;
}

.show-all-TaskTop h1 {
    width: 80%;
    display: inline-block;
}

.Sidebar { 
    background-color: #B0C2FF !important;
    min-width: 50px;
    width:2%;
    float: left;
    border-radius: 0px 25px 0px 0px !important;
}

.Sidebar img {
    width: 20px;
    margin-top: 15px;
    height: auto;
}
.print-full-task h1 {
    font-size: 15px;
    margin: 10px;
}

.print-full-task-TaskTop {
    background-color: #B0C2FF;
    padding:15px;
    border-radius: 25px 25px 0px 0px;
}

.print-full-task-TaskTop .task-icon {
    width: 20px;
}

.print-full-task-TaskTop h1{
    margin-bottom: 0px;
    margin: 0px;
    color: #FFFFFF;
    font-size: 25px;
}